{% extends 'partials/authentication/accountbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register {% endblock title %}

{% block extra_css %}
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'libs/owl.carousel/dist/assets/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'libs/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
{% endblock extra_css %}
    
{% block content %}

    <body class="auth-body-bg">
        
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    
                    <div class="col-xl-9">
                        <div class="auth-full-bg pt-lg-5 p-4">
                            <div class="w-100">
                                <div class="bg-overlay"></div>
                                <div class="d-flex h-100 flex-column">
    
                                    <div class="p-4 mt-auto">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3">
                        <div class="auth-full-page-content p-md-5 p-4">
                            <div class="w-100">

                                <div class="d-flex flex-column h-100">
                                    <div class="my-auto">
                                        
                                        <div>
                                            <h5 class="text-primary">Recruitment Portal</h5>
                                            <p class="text-muted">Register account.</p>
                                        </div>
            
                                        <div class="mt-4">
                                            <form class="needs-validation" novalidate method = "POST" >
                                                {% csrf_token %}
                                                <div class=" row mb-1">
                                                    <label for="formrow-email-input" class="form-label">Email*</label>
                                                    {{form.email|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Surname*</label>
                                                    {{form.last_name|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">First Name*</label>
                                                    {{form.first_name|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Other Name</label>
                                                    {{form.middle_name|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Ghana Card*</label>
                                                    {{form.ghanacard|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Phone Number*</label>
                                                    {{form.phone_number|as_crispy_field}}
                                                </div>
                                                
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Password*</label>
                                                    {{form.password1|as_crispy_field}}
                                                </div>
                                                <div class=" row mb-1">
                                                    <label for="formrow-lastname-input" class="form-label">Comfirm Password*</label>
                                                    {{form.password2|as_crispy_field}}
                                                </div>
                                                
                                               
                            
                                                <div class="mt-4 d-grid">
                                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Register</button>
                                                </div>
            
                                       
                        
                                            </form>

                                            <div class="mt-3 text-center">
                                                <p>Already have an account ? <a href="{% url 'login' %}" class="fw-medium text-primary"> Login</a> </p>
                                            </div>
        
                                        </div>
                                    </div>

                                    <div class="mt-4 mt-md-5 text-center">
                                        <p class="mb-0"> Powered by IT TECHNICAL UNIT © <script>document.write(new Date().getFullYear())</script> </p>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
    {% endblock content %}
    {% block extra_javascript %}
        <!-- owl.carousel js -->
        <script src="{% static 'libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>

        <!-- auth-2-carousel init -->
        <script src="{% static 'js/pages/auth-2-carousel.init.js' %}"></script>
        <!-- validation init -->
        <script src="{% static 'js/pages/validation.init.js' %}"></script>
    {% endblock extra_javascript %}